.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;

  .logo {
    height: 100%;
    width: 2.75em;
    padding: 0.3em 2.5em;
  }

  .options-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3em;

    .option {
      padding: 0 1.5em;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }
}
