.shop-navbar {
  .category-picks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .category-filter {
      display: inline-block;
      position: relative;
      font-weight: 600;
      color: black;
      cursor: pointer;

      &_active {
        font-weight: 600;
        text-decoration: underline #0087ca 2px;
        text-underline-offset: 0.75em;
      }
    }

    .category-filter:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      top: 1.75em;
      left: 0;
      background-color: #00a5f8;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .category-filter:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .category-select {
    display: none;
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .shop-navbar {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .shop-navbar {
    .category-picks {
      display: none;
    }

    .category-select {
      display: block;
    }
  }
}
